.task-container{
    background-color: #003554;
    margin: 8px 0;
    padding: 15px 20px;
    display: flex;
    border-radius: 5px;
    justify-content: space-between;
    color: #eee;
    align-items: center;
}

.task-title{
    cursor: pointer;
}

.remove-task-button, .see-task-details-button{
    background-color: #003554;
    border: none;
    font-size: 24px;
    color: #00a6fb;
    margin: 0 5px;
}